<div class="main-container">

  <h1>Frais bancaires</h1>
  <h2>Taux actuel : {{rate}}</h2>
  <div class="section bank-selector">
    <div class="section-label">Choisis ta banque :</div>
    <div class="section-content">
      <div class="bank" (click)="setBank('CA')" [ngClass]="{'active': bank === 'CA'}">Crédit Agricole</div>
      <div class="bank" (click)="setBank('CE')" [ngClass]="{'active': bank === 'CE'}">Caisse d'Épargne</div>
      <div class="bank" (click)="setBank('LCL')" [ngClass]="{'active': bank === 'LCL'}">LCL</div>
    </div>
  </div>

  <div class="section operation-selector">
    <div class="section-label">Type d'opération :</div>
    <div class="section-content">
      <div class="operation" (click)="setOperation('withdraw')" [ngClass]="{'active': operation === 'withdraw'}">Retrait</div>
      <div class="operation" (click)="setOperation('payment')" [ngClass]="{'active': operation === 'payment'}">Paiement</div>
    </div>
  </div>

  <div class="section amount">
    <div class="section-label">Montant en Livres (£) :</div>
    <div class="section-content">
      <input min="0" [(ngModel)]="amountLS" (change)="compute()" (click)="amount.value = ''" #amount type="number"/>
    </div>
  </div>

  <div class="section result" *ngIf="amountLS > 0">
    <div class="section-label">Coût total de l'opération :</div>
    <div class="total-cost">{{totalCost | currency:'EUR'}}</div>
    <div class="amount-eur">Montant : <span class="green">{{amountEUR | currency:'EUR'}}</span></div>
    <div class="charges">Frais : <span class="red">{{charges | currency:'EUR'}}</span></div>
  </div>
  <div class="section result" *ngIf="!amountLS || amountLS <= 0">
    <span class="red">Saisis un montant pour continuer</span>
  </div>

</div>
