.main-container{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

h1{
  font-size: 20px;
  text-align: center;
  padding: 20px 0 0 0;
}

h2{
   font-size: 12px;
   text-align: center;
   padding: 10px 0 20px 0;
 }

.green{
  color: #1c7a27;
}

.red{
  color: #7a0026;
}

.section{
  color: #00576e;
  background-color: var(--background-color-section);
  border: 1px solid var(--border-color);
  border-radius: 5px;

  padding: 20px;
  margin: 10px;
  font-size: 15px;

  & .section-label{
    margin-bottom: 10px;
  }

  & .section-content{
    display: flex;
    justify-content: space-around;

    .bank, .operation {
      padding: 10px;
      border-radius: 5px;
      transition: color 0.2s, background-color 0.2s;
      cursor: pointer;
      &.active {
        color: #FFF;
        background-color: #00576e;
      }
    }

    & input{
      padding: 10px;
      color: #00576e;
      font-weight: 500;
      font-size: 20px;
      text-align: right;
    }

  }

  &.result{
    & div:not(:first-child){
      text-align: right;
      padding-bottom: 10px;

      &.total-cost{
        font-size: 20px;
      }

      &.amount-eur{
        font-size: 15px;
      }

      &.charges{
        font-size: 15px;
      }
    }
  }
}
