/* You can add global styles to this file, and also import other style files */
@import url('./reset.scss');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;

  --background-color: #004457;
  --background-color-section: #FFF;
  --text-color: #FFF;
  --border-color: #AAA;
  box-sizing: border-box;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
}
